@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#home-page {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

.bottom-part {
  min-height: 50px;
  background-color: #dcdcdf;
  margin-top: 1px;
}

#main-list {
  list-style: none;
  padding: 0;
}

#main-list li {
  font-size: 12px;
  border: 1px solid rgb(24, 15, 15);
  width: 100%;
}
/* /////////////////////////////// */
#employee,
#task {
  display: none;
  width: 600px;
  margin: 60px auto;
}

.create-new {
  background-color: #f9f9f9;
}

.create-new input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(211, 209, 209);
  margin-bottom: 5px;
  outline: none;
  user-select: none;
}

.create-new textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
}

.hide {
  display: none;
}

.search-area {
  width: 300px;
  position: absolute;
  top: 60px;
  right: 20px;
  height: 400px;
  overflow: auto;
  border-radius: 5px;
  display: none;
}

.search-area .close {
  background-color: rgb(201, 201, 201);
  text-align: center;
  color: white;
}

.search-area .search-list {
  list-style: none;
  background-color: #f6f6f6ab;
  margin: 0;
  padding: 0;
}

.search-area .search-list li {
 padding: 10px;
  border-bottom: 1px solid rgb(230, 229, 229);
  color: rgb(52, 52, 52);
  line-height: 1.2;
  position: relative;
}

.search-area .search-list li h5 {
font-size: 16px;
margin-bottom: 0;
}
.search-area .search-list li span {
  color: rgb(165, 165, 165);
  font-size: 11px;
}
.search-area .search-list li p{
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 12px;
}
.search-area .search-list li svg#delete{
  color: rgb(193, 30, 30);
  position: absolute;
  right: 10px;
  top: 30px;
}

.search-area .search-list li svg#pen{
  color: rgb(244, 203, 19);
  position: absolute;
  right: 60px;
  top: 28px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(98, 97, 97);
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(188, 188, 187);
}
